<head>
    <style>
        div{
            text-align: center;
        }
    </style>
</head>
<body>
    <div>

        <h2>
            Contatti telefonici:<br>
        </h2>
        <h3>
            Telefono Fisso: 0828986674<br>
        </h3>
        <br>
        <h2>
            Raggiungici tramite google maps:
        </h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12130.6983800903!2d15.106205!3d40.526683!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x37f09eee2124278a!2sPasticceria%20L&#39;Angolo%20Del%20Dolce%20Di%20Carmine%20Gorga!5e0!3m2!1sit!2sit!4v1578323333859!5m2!1sit!2sit" frameborder="0" style="border:0;" width="100%" height="auto"></iframe>
    </div>
</body>